body {
    background-color: white;
    position: relative;
    height: 100%;
}

.my_container{
    height:100%;
    position:relative;
}

/* NAVBAR *****************************/
.navbarNeprihlaseny {
    margin: 20px;
}

.navbarPrihlaseny {
    margin: 20px;
}

.bold:hover {
    font-weight: 500;
}

/* NAVBAR *****************************/

/* HOME stredový img *****************************/
.jumbotron {
    position: relative;
    margin-top: 7vh;
   /* position: absolute;       takto to bolo dobre, ale problem s overlapingom
     top: 45%;
     left:50%;
     transform: translate(-50%,-50%);*/
    background-color: white;
    max-width: 37%;
    margin-left: auto;
    margin-right: auto;
  /*  z-index: -1;*/
}

@media screen and (max-width: 601px) {
    div.jumbotron h1 {
        font-size: 12vw;
    }
}

@media screen and (max-width: 1400px) {
    div.jumbotron {
        max-width: 100%;
    }
}

@media screen and (max-width: 601px) {
    div.jumbotron {
        max-width: 100%;
    }
}

.jumbotron h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 5.2vw;
    text-align: center;
}

.jumbotron p {
    text-align: center;
}

/* HOME stredový img *****************************/


/* FOOTER *****************************/
.footer {
    position: relative;
    width: 100%;
    bottom: 15px;
    text-align: center;
    font-size: 1vw;
    color: darkgrey;
    clear: both;
    margin-bottom: 0;
    z-index: 100;
}

@media screen and (max-width: 1400px) {
    div.footer {
        font-size: 1.5vw;
        max-width: 100%;
    }
}

@media screen and (max-width: 601px) {
    div.footer {
        font-size: 2.7vw;
        max-width: 100%;
    }
}

/* FOOTER *****************************/


/*vycentrovanie pre jumbotrony v kategoriach*/
.categoryJumbo{
    margin-top: 25vh;
    margin-bottom: 20vh;
}

.btn {
    margin-bottom: 5%;
}

.inputbtn{
    margin-left: 5px;
    margin-right: 5px;
}

.reg {
    top: 50%;
}

.errMsg{
    color: red;
}

.loginput{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.arrow{
    position:relative;
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
    margin-bottom: 5vh;

}


/*POSTS****************************************************************/

/* Vycentrovanie jednotlivých citatov*/
.post {
    position: relative;
    padding: 3%;
    margin: 5%;
    min-width: 20%;
    display: block;
}

.text p{
    font-family: 'Great Vibes', cursive;
    font-size: 1.8vw;
}

@media screen and (max-width: 1400px) {
    div.text p {
        font-size: 2.9vw;
    }
}

@media screen and (max-width: 601px) {
    div.text p {
        font-size: 5vw;
    }
}

.author{
    color: darkgrey;
}


/*POSTS****************************************************************/

.spacerhome{
    padding-top: 12vh;
}

@media screen and (max-width: 1400px) {
    div.spacerhome {
        padding-top: 28vh;
    }
}

@media screen and (max-width: 601px) {
    div.spacerhome {
        padding-top: 24vh;
    }
}

.spacerlogin{
     padding-top: 18.2vh;
 }

@media screen and (max-width: 1400px) {
    div.spacerlogin {
        padding-top: 28vh;
    }
}

@media screen and (max-width: 601px) {
    div.spacerlogin {
        padding-top: 30vh;
    }
}

.spacerregistration{
    padding-top: 6vh;
}

@media screen and (max-width: 1400px) {
    div.spacerregistration {
        padding-top: 10vh;
    }
}

@media screen and (max-width: 601px) {
    div.spacerregistration {
        padding-top: 1vh;
    }
}

.spacerAddPost{
    padding-top: 9vh;
}

@media screen and (max-width: 1400px) {
    div.spacerAddPost {
        padding-top: 10vh;
    }
}

@media screen and (max-width: 601px) {
    div.spacerAddPost {
        padding-top: 19vh;
    }
}
